@model IEnumerable<Project.Models.Books>

@Html.ActionLink("Home","HomeIndex","Home")
@Html.ActionLink("Logout","Logout","Home")
    <text>
        <h2>Create @Html.ActionLink("Reservation", "UserIndex", "Reservation")</h2>
    </text>
<br /><br />
<form method="get" action="@Url.Action("UserBookIndex", "Book")">
    <label>Search Book Title</label>
    <input type="text" name="search" />
    <button type="submit">Search</button>
</form>
<br />                          
    <table style="width:50%"> 
        <tr>
                <td><b>Book Id</td>
                <td><b>Title</td>
                <td><b>Author</td>
                <td><b>Quantity</td>
                
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(asdf => item.Id)</td>
            <td>@Html.DisplayFor(asdf => item.BookTitle)</td>
            <td>@Html.DisplayFor(asdf => item.BookAuthor)</td>
            <td>@Html.DisplayFor(asdf => item.Qty)</td>

        </tr>
        }
    </table>

    
    
    
    <br />



